header {
    background-color: #f9e2c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border-bottom: 2px solid #e4b48c;
}
header img {
    width: 50px;
    height: 50px;
}
div nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff3e0;
  padding: 10px;
  border-bottom: 2px solid #e4b48c;
  list-style: none;   
  margin: 0;      
  padding-left: 0; 
}

div nav ul a {
  text-decoration: none;     
  color: brown;
  background-color: #f28c8c;
  font-weight: bold;
  margin: 10px 10px;          
  border-radius: 12px;
  padding: 8px 12px;         
  display: inline-block;   
}
main {
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    
    
}
main section {
    background-color: #fff8ee;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: #e4b48c;
    box-shadow: 5px 5px 10px lightgrey;
}
main section h2 {
    text-align: center;
}
footer {
    background-color: #f9e2c8;
    padding: 15px;
    border-top: 2px solid #e4b48c;
    text-align: center;
}
.login-form-container {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    padding: 20px;

}
.login-form {
    text-align: center;
    margin-bottom: 70px;
}
.text-fields {
    background-color: #fff8ee;
    border-color: #f28c8c;
}
button {
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    border-color: #f28c8c;
    padding: 8px 14px 8px 14px;
}
button:hover {
    cursor: pointer;
}
.avaliable-flavors-container {
    display: inline-block;
    width: 81vw;

    

}
.avaliable-flavors-container img {
    border-radius: 15px;
    width: 200px;
}
.avaliable-flavors-container div {
    display: inline-block;
    box-shadow: 5px 5px 10px lightgrey;

    width: 280px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
.section-season {
    width: 81vw;
    text-align: center;
}
.section-season select{
    background-color: #fff8ee;
    border-radius: 10px;
    padding: 5px 5px;
    border-color: #f28c8c;
}